/build/
/dist/
/.idea/
/.vscode/
nbproject/private/
/webrev
/.src-rev
/.jib/
.DS_Store
.metadata/
.recommenders/
test/nashorn/script/external
test/nashorn/lib
NashornProfile.txt
**/JTreport/**
**/JTwork/**
/make/langtools/netbeans/nb-javac/build/
/make/langtools/netbeans/nb-javac/dist/
/make/langtools/netbeans/nb-javac/nbproject/private/
/make/langtools/netbeans/mavenized/nbjavacmavenized/mavenproject1/target/
/make/langtools/netbeans/mavenized/mavenproject1/target/
/make/langtools/netbeans/mavenized/nbjavacapi/target/
/make/langtools/netbeans/mavenized/nbjavacimpl/target/
